<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 row-video-thm">
    <div class="post hentry thumbnail">
        <div class="post-list-summary">
            <span><i class='fa fa-calendar'></i>{{include.date| date: "%m/%d/%Y" }}</span>
            <span><i class='fa fa-tag'></i>{{include.category}} </span>
        </div>
        <div id="summary2751505168638470704">
            <div class="play-link">
                <a href="{{include.url}}">
                    <img class="img-responsive" src="{{include.thumbUrl}}">
                        <span class="play">
                            <span class="button"></span
                        ></span>
                </a>
            </div>
        </div>
        <div style="clear: both;"></div>
        <h2 class="jqmaintitle">
            <a href="{{include.url}}" title="{{include.title}}">
                {{post.title}}
            </a>
        </h2>
    </div>
</div>
