<div class="main section" id="main">
  <div class="widget Blog" id="Blog1">
    <!-- google_ad_section_start(name=default) -->
    <div class="post-outer">
      <div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
        <meta content="5108295405774135446" itemprop="blogId">
        <meta content="2751505168638470704" itemprop="postId">
        <a name="2751505168638470704"></a>
        <h1 class="post-title entry-title">
          {{page.title}}
        </h1>
        <div id="main_content">
          <div dir="ltr" style="text-align: left;" trbidi="on">
            <iframe allowfullscreen="" frameborder="0" height="315" src="{{page.videoUrl}}" width="560"></iframe>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="post-header">
          <div class="post-header-line-1"></div>
          <span class="post-author vcard">
            Posted 
          </span>
          <span class="post-timestamp">
            at
            <abbr class="published">
              {{ page.date | date: "%m/%d/%Y" }}
            </abbr>
          </span>
        </div>
        <div>
          {{page.description}}
        </div>
      </div>
    </div>
  </div>
</div>
