<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="navbar navbar-default main-top-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <div class="header section" id="blog-title"><div class="widget Header" id="Header1">
        <div id="header-inner">
          <div class="titlewrapper">
            <h1 class="title">
              <a href="/">Codeaholic</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/about">
          Quem somos
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{ site.name }}">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.name }}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.name }}">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <!--<li>
      <a href="http://www.pinterest.com/{{ site.name }}/">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tumblr"></i>
        </a>
      </li>-->
    </ul>
  </nav>
</div>
</div>
